.moreButton {
  border-radius: 9999px;
  font-family: Outfit, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 90px;
  height: 35px;
  background-color: #e1001e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.7rem;
  letter-spacing: 0.5pt;
}

.moreButton:hover {
  scale: 115%;
  transition: 300ms;
}

@media (max-width: 600px) {
  .moreButton {
    transform: scale(90%);
  }
}
