.mainCard {
  flex-direction: column;
  width: 250px;
  height: 250px;
  display: flex;
  margin-top: 60px;
  gap: 20px;
  align-items: center;
}
.cardImage {
  width: 150px;
  height: 150px;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.image {
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  box-shadow: 0rem 0rem 1rem 1rem rgba(0, 45, 75, 0.05);
}

.name {
  text-align: center;
  color: #000;
  font-size: 15px;
  font-weight: 800px;
  text-transform: uppercase;
}

.role {
  text-align: center;
  color: #2f2f2f;
}

.lattes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  color: #e1001e;
}

.lattes:hover {
  text-decoration: underline;
}

.date {
  text-align: center;
  color: #2f2f2f;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 13px;
  height: 13px;
}
