.main_container {
  gap: 20px;
  display: flex;
  width: 55%;
  height: 402px;
  flex-shrink: 0;
  background-color: rgba(235, 237, 238, 0.9);
  border-radius: 30px;
}

.h2 {
  color: #202020;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}

.p {
  color: #2f2f2f;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 75.012px;
  width: 350px;
  letter-spacing: 1pt;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.text {
  gap: 30px;
  margin-left: 60px;
  padding-top: 103px;
}

.setas {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.setas:hover {
  transform: scale(1.25);
  transition: 300ms;
}

.arrow_container {
  display: flex;
  gap: 10px;
}
.content_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1200px){
  .main_container{
    gap: 0px;
    height:500px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .text{
    height: 230px;
    margin-left: 0px;
    padding-top: 50px;
    text-align: center;
  }
  .p{
    margin-top: 10px;
  }
  .content_container{
    margin-bottom: 40px;
  }
  .link{
    align-items: center;
  }
}

@media(max-width: 700px){
  .h2 {
    font-size: 20px;
  }
  .p {
    width: 280px;
  }
}

@media (max-width: 830px){
  .main_container{
    width: 90%;
  }
  .h2 {
    font-size: 30px;
  }
  .p {
    font-size: 12px;
    width: 300px;
  }
}