.card_container {
  width: 55%;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-radius: 30px;
  background-color: #2e294e;
}
.h2 {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 2pt;
}
.p {
  width: 591px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1pt;
}
.btn_container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.about_button {
  border-radius: 9999px;
  width: 100px;
  height: 40px;
  background-color: #e1001e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.5pt;
  font-size: 0.9rem;
}

.contact_button {
  border-radius: 9999px;
  width: 100px;
  height: 40px;
  background-color: #fff;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  letter-spacing: 0.5pt;
  font-size: 0.9rem;
}

.about_button:hover {
  transform: scale(115%);
  transition: 300ms;
}

.contact_button:hover {
  transform: scale(115%);
  transition: 300ms;
}

@media (max-width: 1150px) {
  .h2 {
    font-size: 40px;
  }
  .p {
    width: 400px;
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  .h2 {
    font-size: 30px;
  }
  .p {
    width: 350px;
    font-size: 10px;
  }
  .card_container {
    gap: 10px;
  }
}

@media (max-width: 830px) {
  .card_container {
    width: 90%;
  }
  .h2 {
    font-size: 30px;
  }
  .p {
    font-size: 12px;
    width: 500px;
  }
}

@media (max-width: 700px) {
  .h2 {
    font-size: 20px;
  }
  .p {
    width: 280px;
  }
  .btn_container {
    scale: 85%;
  }
}

@media (max-width: 560px) {
  .h2 {
    font-size: 20px;
  }
  .p {
    font-size: 12px;
    width: 300px;
  }
}
