.card_container {
  width: 80%;
  height: 402px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;
  background-color: #2e294e;
}
.h2 {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 2pt;
}
.p {
  width: 591px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1pt;
}
.btn_container {
  display: flex;
  gap: 20px;
}
.about_button {
  border-radius: 9999px;
  padding: 10px 26px;
  background-color: #e1001e;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5pt;
  font-size: 1.1rem;
}
.contact_button {
  border-radius: 9999px;
  padding: 10px 20px;
  background-color: #fff;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  letter-spacing: 0.5pt;
  font-size: 1.1rem;
}
