.divider {
  background-color: #fdfbfb;
  position: relative;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  top: -40px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_div {
  position: relative;
  border-radius: 50%;
  background-color: #fdfbfb;
  display: flex;
  width: 130px;
  height: 130px;
  cursor: pointer;
  align-items: center;
  top: -35%;
  justify-content: center;
}

@media (max-width: 880px) {
  .arrow_div {
    scale: 70%;
  }
}

@media (max-width: 600px) {
  .header_img {
    width: 232px;
  }
  .arrow_div {
    scale: 50%;
  }
}
