:root {
  --background-footer: #202020;
}
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* overflow-y: hidden; */
  gap: 20px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fdfbfb;
}

footer {
  background-color: var(--background-footer);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  position: relative;
}
@media (max-width: 880px) {
  footer {
    height: auto;
  }
}
