.main {
  display: flex;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.h2 {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  margin-left: 10px;
  font-size: 14px;
}

.system_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7c7474;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.system_containerAlternative {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c20a0ae5;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.arrow_closed {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
}

.arrow_open {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  transform: rotate(0deg);
}

.panel {
  width: 100%;
  gap: 12px;
  overflow: hidden;
  background-color: #fdfbfb;
  display: none;
}

.show {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  gap: 16px;
  background-color: #fdfbfb;
  overflow: hidden;
  display: block;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.h3 {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 14px;
  color: #202020;
}

.p {
  width: 97%;
  display: flex;
  justify-content: flex-start;
  color: #202020;
  font-size: 16px;
}

.link {
  color: #202020;
  text-decoration: none;
}

.linkNone {
  display: none;
}

.system_container:hover {
  background-color: #c20a0ae5;
}

@media (max-width: 600px) {
  .p {
    width: 90%;
    font-size: 13px;
  }
  .h3 {
    font-size: 13px;
  }
  .h2 {
    font-size: 11px;
  }
}
