.mainCard {
  width: 55%;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #2e294e;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  padding-left: 40px;
}

.rightDiv {
  display: flex;
  justify-content: center;
  width: 50%;
}

.h1 {
  letter-spacing: 1px;
  display: flex;
  color: #fff;
  font-size: 22px;
  width: 300px;
  text-transform: uppercase;
}

.linkContainer {
  display: flex;
  gap: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #e1001e;
  width: 180px;
  height: 35px;
  color: #fff;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.4vh;
  text-align: center;
}

.p {
  display: flex;
  font-size: 13px;
  width: 300px;
  color: #fff;
  letter-spacing: 2px;
}

.image {
  width: 230px;
}

.link:hover {
  scale: 110%;
  transition: 300ms;
}

@media (max-width: 1200px) {
  .mainCard {
    gap: 10px;
    justify-content: center;
  }
  .p {
    width: 200px;
  }
  .h1 {
    font-size: 18px;
    width: 250px;
  }
  .image {
    width: 200px;
  }
  .link {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100px;
  }
  .leftDiv {
    gap: 10px;
    width: 40%;
  }
}

@media (max-width: 1080px) {
  .h1 {
    width: 240px;
  }
}

@media (max-width: 950px) {
  .mainCard {
    flex-direction: column;
    align-items: center;
    height: 500px;
    gap: 22px;
  }
  .image {
    width: 200px;
  }
  .leftDiv {
    align-items: center;
    padding-left: 0px;
    gap: 20px;
  }
  .p {
    text-align: center;
    margin-top: 0px;
    width: 280px;
  }
  .h1 {
    text-align: center;
    width: 300px;
  }
}

@media (max-width: 830px) {
  .mainCard {
    gap: 30px;
    width: 90%;
  }
  .p {
    text-align: center;
    width: 60%;
  }
  .h1 {
    text-align: center;
    font-size: 22px;
    width: 80%;
  }
  .leftDiv {
    width: 80%;
    gap: 18px;
  }
  .link {
    font-size: 13px;
    letter-spacing: 0.4vh;
  }
}

@media (max-width: 600px) {
  .image {
    width: 150px;
  }
  .link {
    width: 90px;
    font-size: 12px;
  }
  .h1 {
    width: 80%;
    font-size: 20px;
  }
  .p {
    width: 80%;
  }
  .leftDiv {
    gap: 10px;
  }
}
