.mainContainer {
  padding-top: 20px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.logoImage {
  width: 60px;
}

.link_container {
  display: flex;
  align-items: center;
  gap: 0px 25px;
}

.link {
  color: #ffff;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  text-decoration: none;
}

.link:hover {
  opacity: 70%;
  transition: 500ms;
}

.search_button {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.search_button:hover {
  transform: scale(1.2);
  transition: 300ms;
}

.hamburguer {
  height: 30px;
  display: none;
  cursor: pointer;
}

.hamburguer_menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-top: 20px;
  width: 50%;
  height: 100vh;
  right: 0;
  transition: right 300ms ease-in-out;
  background-color: #202020;
  z-index: 1;
}

.closed {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-top: 20px;
  width: 50%;
  height: 100vh;
  right: -100%;
  transition: right 300ms ease-in-out;
  background-color: #202020;
  z-index: 1;
}

.link_hamburguer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  text-decoration: none;
  width: 130px;
  height: 50px;
  border: 3px solid #2f2f2f;
  border-radius: 9999px;
  cursor: pointer;
}

.icons_Hamburguer {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

@media (max-width: 718px) {
  .link_container {
    display: none;
  }
  .hamburguer {
    display: flex;
  }
}

@media (max-width: 880px) {
  .link {
    font-size: 12px;
  }
}
