.main_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  width: 55%;
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.projetosHome {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.h2 {
  color: #202020;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}

.p {
  color: #202020;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

@media(max-width: 830px){
  .main_container{
    width: 90%;
  }
  .h2 {
    font-size: 30px;
  }
  .p {
    font-size: 15px;
    width: 400px;
  }
}

@media(max-width: 600px){
  .h2 {
    font-size: 18px;
  }
  .p {
    font-size: 15px;
    width: 300px;
  }
}
