.main_container {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.card_img {
  width: 251px;
  height: 186px;
  border-radius: 30px;
}

.card_text {
  width: 55%;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.span {
  color: #e1001e;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: capitalize;
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}
.description {
  width: 100%;
  color: #2f2f2f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media(max-width: 830px){
  .card_img{
    width: 221px;
    height: 156px;
  }
}

@media(max-width: 500px){
  .card_img{
    width: 161px;
    height: 109px;
  }
  .card_text{
    gap: 10px;
  }
  .title{
    font-size: 15px;
    width: 60%;
  }
  .description{
    width: 85%;
  }
}