.mainContainer {
  display: flex;
  justify-content: space-between;
  height: 80%;
  width: 80%;
  padding-top: 25px;
}

/* Logo Container */
.mackleapsContainer {
  font-size: 12px;
  color: #ffff;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: flex;
  align-items: flex-start;
}

/* Bread Crumbs Container */

.bread_crumbs {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.link_column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.link {
  color: #ffff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.social_midias {
  color: #ffff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.social_midias:hover,
.link:hover, .image_address:hover {
  opacity: 60%;
  transition: 500ms;
}
.h2 {
  color: #ffff;
  font-size: 15px;
}
/* Map and Addres */

.address_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.address {
  width: 222px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #b1b1b1;
  font-size: 12px;
  text-decoration: none;
}

@media (max-width: 880px) {
  .mainContainer {
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
  }
  .address_container {
    margin-bottom: 15px;
  }
}
