.main {
  width: 80%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.h1 {
  display: flex;
  color: #e1001e;
  text-transform: uppercase;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
}

.p {
  display: flex;
  color: #2f2f2f;
  font-size: 20px;
  font-style: normal;
  line-height: 150%;
  font-weight: 400;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
}

@media (max-width: 880px) {
  .h1 {
    font-size: 50px;
  }

  .h2 {
    font-size: 20px;
  }

  .image {
    width: 105px;
  }
}

@media (max-width: 600px) {
  .h1 {
    font-size: 25px;
  }

  .p {
    font-size: 14px;
  }

  .main {
    justify-content: center;
    margin-top: -30px;
    gap: 20px;
  }
}
