.main_card {
  width: 255px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(235, 237, 238, 0.7);
}

.card_img {
  width: 255px;
  height: 131px;
  border-radius: 20px 20px 0px 0px;
}

.text {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 12px;
}

.date {
  color: #2f2f2f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.title {
  width: 160px;
  color: #202020;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;
}
.description {
  color: #2f2f2f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: capitalize;
}

.leia {
  color: #e1001e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 590px) {
  .main_card {
    width: 160px;
    height: 230px;
  }

  .card_img {
    width: 160px;
    height: 83px;
  }

  .text {
    padding-top: 5px;
    width: 80%;
    gap: 5px;
  }

  .date {
    font-size: 10px;
    font-weight: 400;
  }
  .title {
    width: 140px;
    font-size: 12px;
  }
  .description {
    font-size: 10px;
    font-weight: 400;
  }

  .leia {
    font-size: 10px;
  }
}
