.labHome {
  width: 55%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.h2 {
  width: 35%;
  color: #202020;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}
