.main {
  display: flex;
  width: 80%;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 20px;
}

.card_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px 40px;
}

.h1 {
  color: #e1001e;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
}

.h2 {
  font-size: 25px;
  margin-top: 30px;
  color: #202020;
}

.p {
  color: #2f2f2f;
  font-style: normal;
  line-height: 150%;
  font-weight: 400;
}

@media (max-width: 880px) {
  .h1 {
    font-size: 35px;
  }
  .h2 {
    font-size: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .h1 {
    font-size: 30px;
  }
  .h2 {
    width: 200px;
    margin-top: 20px;
  }
  .main {
    margin-top: -30px;
  }
}

@media (max-width: 500px) {
  .h1 {
    font-size: 25px;
  }
  .h2 {
    font-size: 18px;
  }
}
