.main {
  display: flex;
  width: 80%;
  padding-bottom: 20px;
  flex-direction: column;
  gap: 20px;
}

.card_div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px 40px;
}

.h1 {
  color: #e1001e;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
}

.h2 {
  margin-top: 60px;
  color: #202020;
}

.p {
  color: #2f2f2f;
  font-style: normal;
  line-height: 150%;
  font-weight: 400;
  width: 606px;
}

